---
layout: default
title: Tropica Weddings
bannerStyle:
banner_path: /uploads/cherinetroy-01.png
embeded_path:
youtube-embedcode: "<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/undefined' frameborder='0' allowfullscreen></iframe></div>"
---
        <section>
          <h2>ABOUT US</h2>
          <p class="centered editable">Tropica Weddings is a creative team of wedding photographers, videographers &amp; designers based in Melbourne.<br /><br />Our goal is to create your ultimate dream wedding by capturing your special day in the style it deserves.<br />Having worked all over the world, from Indonesia to Greece, our creative team will offer you their knowledge, creativity and experience to help<br />inspire you and design a well executed and memorable wedding day. When it comes to your wedding day, we are known for our candid<br />and natural photographic style that ensures we capture every moment. Paired with bespoke wedding stationery from engagement<br />invitations to wedding thank you notes, Tropica Weddings will help you set the tone for a day you will never forget.</p>
          </section>

      <!-- Second SECTION - - - - - - - - - - - - - - -->

        <section class="padding-bottom">
            <div class="rect-full youtube">
              {% if page.bannerStyle == "Picture" %}
                <img src="{{page.banner_path}}" alt="tropica-wedding-5" />
              {% endif %}
              {% if page.bannerStyle == "Video" %}
              <video width="320" height="240" autoplay loop>
                 <source src="{{page.video_path}}" type="video/mp4" />
              </video>
            {% endif %}
            {% if page.bannerStyle == "Embeded" %}
            <div class="youtube-container">
            {{page.youtube-embedcode}}
            </div>
            {% endif %}
            </div>
          </section>
          <hr />


      <!-- Third SECTION - - - - - - - - - - - - - - -->
        <section>
            <h2>MEET THE TEAM<h2>
            <div class="one-third">
              <img class="circle editable" alt="tropica-wedding-5" id="cms-identifiable-8059" data-cms-cid="8059" src="/uploads/versions/deena1---x0-0-551-551-960-960x---.jpg" width="960" height="960" />
              <p class="editable">DEENA VERAWATI</p>
              <p class="editable">Graphic Designer</p>
            </div><!--
          --><div class="one-third">
                <img class="circle editable" alt="tropica-wedding-6" id="cms-identifiable-8070" data-cms-cid="8070" src="/uploads/versions/frank---x0-0-545-545-500-500x---.jpg" width="500" height="500" />
                <p class="editable">FRANK DRAKOS</p>
                <p class="editable">Photographer &amp; Videographer</p>
              </div><!--
          --><div class="one-third">
              <img class="circle editable" alt="tropica-wedding-7" id="cms-identifiable-8081" data-cms-cid="8081" src="/uploads/versions/matt---x0-0-788-788-960-960x---.jpg" width="960" height="960" />
              <p class="editable">MATT ROSAMILIA</p>
              <p class="editable">Photographer &amp; Videographer</p>
            </div>
          </h2></h2></section>
          <hr />

      <!-- Third SECTION - - - - - - - - - - - - - - -->

        <section class="padding-bottom">
            <h2>WE'RE FEATURED IN<h2>
            <div class="one-sixth">
              <img alt="tropica-wedding-5" class="editable" id="cms-identifiable-11731" data-cms-cid="11731" src="/uploads/versions/8---x0-0-200-200-960-960x---.png" width="960" height="960" />
            </div><!--
          --><div class="one-sixth">
                <img alt="tropica-wedding-6" class="editable" id="cms-identifiable-11736" data-cms-cid="11736" src="/uploads/versions/bridestory---x0-0-125-125-500-500x---.png" width="500" height="500" />
              </div><!--
          --><div class="one-sixth">
              <img alt="tropica-wedding-7" class="editable" id="cms-identifiable-11741" data-cms-cid="11741" src="/uploads/versions/hooray-magazine-logo-2-medium---x0-0-240-240-960-960x---.jpg" width="960" height="960" />
            </div><!--
          --><div class="one-sixth">
              <img alt="tropica-wedding-7" class="editable" id="cms-identifiable-11746" data-cms-cid="11746" src="/uploads/versions/polkadotbride---x0-0-125-125-960-960x---.png" width="960" height="960" />
            </div>
        </h2></h2></section>
