---
layout: default
title: Tropica Weddings
slides:
  - link:
    slidepic_path: /uploads/versions/tropica-weddings-banner-adriandee---x353-0-750-500-960-640x---.jpg
  - link:
    slidepic_path: images/tropica-wedding3.png
three-box-images:
  - link:
    slidepic_path: /uploads/tropicaweddings-niokadyson-2.png
  - link:
    slidepic_path: /uploads/snapchat-geofilter.png
  - link:
    slidepic_path: /uploads/sponsoredpost-cover3.png
  - link:
    slidepic_path:
---
        <div class="margin-top"></div>
        <section>
          <div class="centered">
            <h1 class="mob-hide">
                <img class="editable" src="/images/TropicaWeddings_RGB.svg" alt="Tropica Weddings Logo" />
            <!--Tropica Weddings-->
            </h1>
            <nav class="bordered mob-hide">
              <a href="/about.html" class="editable homenav">ABOUT</a> /
              <a href="/portfolio.html" class="editable homenav">OUR WORK</a> /
              <!--<a href="/blog.html" class="editable homenav">BLOG</a> /-->
              <a href="/contact.html" class="editable homenav">CONTACT US</a>
            </nav>
          </div>
          <div class="img-slideshow">
              {% for slide in page.slides %}
              <a href="{{slide.link}}"><img src="{{slide.slidepic_path}}" /></a>
              {% endfor %}
            <!--<img src="images/tropica-wedding-1.png" alt="tropica-wedding-1" class="editable margin-top" />-->
            <!--<img alt="tropica-wedding-2" class="editable slick-slide margin-top" id="cms-identifiable-487" data-cms-cid="4256" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1300px;" src="/uploads/versions/tropica-weddings-banner-adriandee---x353-0-750-500-960-640x---.jpg" width="960" height="640" />-->
            <!--<img src="images/tropica-wedding3.png" alt="tropica-wedding-3" class="editable margin-top" />-->
            <!--<img src="images/tropica-wedding4.jpg" alt="tropica-wedding-4" class="editable slick-slide margin-top" id="cms-identifiable-491" data-cms-cid="491" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 1300px; max-height: 500px;" />-->
          </div>
        </section>
      <!-- Second SECTION - - - - - - - - - - - - - - -->

        <section>
            {% for slide in page.three-box-images %}<div class="one-third">
              <a href="{{slide.link}}"><img src="{{slide.slidepic_path}}" /></a>
            </div>{% endfor %}
          <!--  <div class="one-third">-->
          <!--    <img src="images/tropica-wedding-5.jpg" alt="tropica-wedding-5" class="editable" />-->
          <!--  </div><!---->
          <!----<div class="one-third">-->
          <!--      <img src="images/tropica-wedding-7.png" alt="tropica-wedding-6" class="editable" />-->
          <!--    </div><!---->
          <!----<div class="one-third">-->
          <!--    <img alt="tropica-wedding-7" class="editable" id="cms-identifiable-156" data-cms-cid="156" src="/uploads/versions/13422440-1213908575300363-7025796003332728679-o---x0-0-374-374-960-960x---.jpg">-->
          <!--  </div>-->
          </section>

          <!-- THIRD SECTION - - - - - - - - - - - - - - -->
<!--
          <section class="no-margin-top">
            <div class="two-thirds">
              <h2>FEATURED</h2>
            <img class="rect-big" src="images/tropica-wedding-1.png" alt="tropica-wedding-1" />

              <!--<div class="img-slideshow rect-big mob-hide">
                <img src="images/tropica-wedding-1.png" alt="tropica-wedding-1" class="editable slick-slide" id="cms-identifiable-4295" data-cms-cid="4295" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 773px;" />
                <img src="images/tropica-wedding2.png" alt="tropica-wedding-2" class="editable slick-slide" id="cms-identifiable-174" data-cms-cid="174" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 773px;" />
                <img src="images/tropica-wedding3.png" alt="tropica-wedding-3" class="editable slick-slide slick-current slick-active" id="cms-identifiable-176" data-cms-cid="176" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 773px;" />
                <img src="images/tropica-wedding4.jpg" alt="tropica-wedding-4" class="editable" />
              </div>
              -->

            <!--
            --<div class="one-third">
              <h2>WHAT'S NEW</h2>
              <img src="images/TropicaGirl.png" alt="Tropica Weddings Logo" class="rect-small mobalign editable" /><!--
              --<img src="images/tropica-wedding3.png" alt="Tropica Weddings Logo" class="rect-small mobalign editable" />
            </div>
          </section> -->

          <!-- FOURTH SECTION - - - - - - - - - - - - - - -->
          <hr />
          <section class="centered mob-hide">
            <nav class="bordered">
              <a href="/about.html" class="editable homenav">ABOUT</a> /
              <a href="/portfolio.html" class="editable homenav">OUR WORK</a> /
              <!--<a href="/blog.html" class="editable homenav">BLOG</a> /-->
              <a href="contact.html" class="editable homenav">CONTACT US</a>
            </nav>
          </section>
          <hr />
          <section>
            <p class="centered padding-bottom editable">When it comes to creating your ultimate dream wedding and capturing the beauty of your special day Tropica Weddings is a name you can trust.<br />Melbourne based Tropica Weddings is a young team of creative photographers, videographers and designers that have worked around the world. Our expertise in working on a beach weddings on island destinations has helped us book assignments in Indonesia and Greece, where we have photographed unique weddings in beautiful Bali and scenic Santorini. Our photographic style of shooting candid and natural shots ensures that we capture the raw emotion of your wedding day. Our design team is a creative unit encompassing the latest trends while remaining customer focussed and can help you with wedding stationery designs that are individually crafted to meet your special requirements. From engagement invitations to wedding thank you notes, our design team can take care of all your design needs.</p>
          </section>
