    <script src="/scripts/jquery.min.js"></script><!--THIS IS JQUERY SCRIPT-->
    <script src="/scripts/hamburgler.js"></script><!--THIS IS A PLUGIN SCRIPT-->
    <script src="/scripts/fastclick.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NWIyNGE1YzctYzcxNS00ZmRmLTg3MTEtNGE2ZTFmYzUzYmY0NjM2MDE3NTg1NDM2MDMwODY1"></script>
    <script src="/scripts/scripts.js"></script><!--THIS IS MY SCRIPT-->