---
layout: default
title: Tropica Weddings
---
<section>
<div class="two-thirds" data-cms-content-wrapper="/_layouts/blog-default.html">
  {{ content }}
</div><!--
--><div class="sidebar padding-bottom">
      <div>
        <nav class="blog-nav">
          <h2>CATEGORIES</h2>
          <li><a href="*" class="editable">Photography</a></li>
          <li><a href="*" class="editable">Videography</a></li>
          <li><a href="*" class="editable">Design</a></li>
          <li><a href="*" class="editable">Inspiration</a></li>
        </nav>
      </div>
      <div class="blog-nav">
        <!-- Featured Post section -->
        <h2>Featured Post </h2>
        <h4> Post Title </h4>
        <p> Post excert</p>
        <a href="#"> Read More </a>
        <h4> Post Title </h4>
        <p> Post excert</p>
        <a href="#"> Read More </a>
      </div>
      <div class="blog-nav">
          <h2> Find us on </h2>
          <a href="#"> <img src="" /></a>
          <a href="#"> <img src="" /></a>
          <a href="#"> <img src="" /></a>
      </div>
  </div>

  </section>
