---
layout: blog-default
---

  <h1>{{ page.category }}</h1>
  <h2> All posts in the {{page.category}} category</h2>

  {{ content }}


  {% if site.categories[page.category] %}
      {% for post in site.categories[page.category] %}

        <div class="one-third">
            <img src="{{post.image_path}}" alt="{{post.alt}}">
            <h4>{{post.title}}</h4>
            <p> {{post.excerpt}}</p>
            <a href="{{post.url}}">Read More</a>
        </div>

      {% endfor %}
  {% else %}
    <p>There are no posts in this category.</p>
  {% endif %}
